<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%- title %>
    <%- styles %>
  </head>
  <body>
    <div id="app"><%- appString %></div>
    <%- scripts %>
  </body>
</html>
